{block title}Přihlášení{/block}

{block content}
    <main>
        <h1>Přihlášení</h1>
        <p>Vyberte roli, pod kterou chcete do aplikace vstoupit.</p>

        {control loginForm}
    </main>
{/block}
