{block title}Přihlášení{/block}

{block content}
    <main>
        <h1>Přihlášení</h1>
        <p>Zadejte tajné slovo. Role se načte automaticky z uživatelského účtu.</p>

        {control loginForm}
    </main>
{/block}
